@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");
* {
   margin: 0 0; 
  font-family: "Syne", sans-serif;

}
body {
  background-color: white; /* Witte achtergrond */

  margin: 0;
  padding: 0;
  height: 100vh; /* Vul volledige schermhoogte */
  color: black; /* Zwarte standaardtekst */
}

.container {
  width: 90%; /* Dynamische breedte */
  max-width: 800px; /* Maximale breedte */
  padding: 20px;
  border: 2px solid black; /* Zwarte rand */
  border-radius: 10px; /* Afronde hoeken */
  background-color: white; /* Witte achtergrond */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lichte schaduw */
  text-align: center; /* Tekst centreren */
}
.add-items, .update-items{
  border: 5px solid rgba(37, 109, 99, 0.425); /* Zwarte rand */
  margin: 10px auto 20px; /* Midden van de pagina */
  width: 80%; /* Dynamische breedte */
  border-radius: 10px; /* Afronde hoeken */
  padding: 10px; /* Extra padding */
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: black; /* Zwarte tekst */
  border: 2px solid green;
  border-radius: 5px;
  background-color: #2fa35b; /* Lichte grijze achtergrond */
  width: 100%;
  margin-top: 0;
}
h3 {
  text-align: center;
  font-size: 1.5rem;
  color: black; /* Zwarte tekst */
   border-radius: 5px;
  background-color: #dbbfc8; /* Lichte grijze achtergrond */
  width: 100%;
  margin-top: 0;
}

table {
  width: 80%; /* Tabel breedte volledig */
  border-collapse: collapse; /* Randen samenvoegen */
  margin: 5px auto; /* Midden van de pagina */
}

th,
td {
  padding: 12px; /* Extra padding */
  border: 2px solid black; /* Zwarte randen */
  text-align: center;
  font-size: 1rem;
}

th {
  background-color: black; /* Zwarte achtergrond */
  color: white; /* Witte tekst */
}

td {
  background-color: #f9f9f9; /* Lichte grijze achtergrond */
}

.btn1,
.btn2 {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 5px; /* Afgeronde hoeken */
  padding: 10px 20px; /* Extra padding */
  transition: transform 0.2s ease;
}

.btn1 {
  color: red; /* Rode tekst */
  background-color: transparent; /* Transparante achtergrond */
}

.btn1:hover {
  color: darkred; /* Donkerrode kleur bij hover */
  
}

.btn2 {
  color: green; /* Oranje tekst */
  background-color: transparent;
  margin-top: 2px;
}
.btn2:hover {
  color: green; /* Donkeroranje kleur bij hover */
  
}

input[type="submit"] {
  background-color: black; /* Zwarte achtergrond */
  color: white; /* Witte tekst */
  font-weight: bold;
  border: none;
  border-radius: 10px; /* Afronde hoeken */
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input[type="submit"]:hover {
  background-color: rgb(30, 202, 87); /* Rode achtergrond bij hover */
  transform: scale(1.05); /* Licht vergroten */
}

fieldset {
  width: 10%; /* Vult breedte van de container */
  padding: 20px;
  margin: 20px 0;
  border: 2px solid black; /* Zwarte rand */
  border-radius: 10px;
  background-color: #fff; /* Witte achtergrond */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lichte schaduw */
}

legend {
  margin-top: 10px;
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
 
} 
a {
  text-decoration: none;
  color: white;
}
input[type="text"] {
  width: 50%; /* Volledige breedte */
  padding: 10px; /* Extra padding */
  margin: 5px 0; /* Boven en onder marge */
  box-sizing: border-box; /* Inclusief padding en border */
  border: 2px solid black; /* Zwarte rand */
  border-radius: 5px; /* Afronde hoeken */
}
input[type="double"] {
  width: 20%; /* Volledige breedte */
  padding: 10px; /* Extra padding */
  margin: 5px 0; /* Boven en onder marge */
  box-sizing: border-box; /* Inclusief padding en border */
  border: 2px solid black; /* Zwarte rand */
  border-radius: 5px; /* Afronde hoeken */
}
#ingredienten {
  width: 50%; /* Volledige breedte */
  padding: 10px; /* Extra padding */
  margin: 5px 0; /* Boven en onder marge */
  box-sizing: border-box; /* Inclusief padding en border */
  border: 2px solid black; /* Zwarte rand */
  border-radius: 5px; /* Afronde hoeken */
}
select {
  width: 25%; /* Volledige breedte */
  padding: 10px; /* Extra padding */
  margin: 5px 0; /* Boven en onder marge */
  box-sizing: border-box; /* Inclusief padding en border */
  border: 2px solid black; /* Zwarte rand */
  border-radius: 5px; /* Afronde hoeken */
}
.container1 {
  width: 100%;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 50px;
}
.logo {
  width: 80px;
  height: 100%;
}
ul {
  width: 30%;
  text-align: right;
  list-style-type: none;
  line-height: 15px;
  margin-right: 50px;
  font-weight: bold;
  font-size: large;
}

ul li {
  display: inline;
  padding: 2%;
}
ul li a:hover {
  color: red;
  font-size: large;
}

/* Header ends here -------------------------------------------------------------------------------------------*/

.img-responsive {
  width: 250px;
  height: 250px;
  align-self: center;
}
.img-curve {
  border-radius: 10px;
}
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%; /* Volledige breedte */
  }

  input[type="text"] {
    width: 100%; /* Volledige breedte */
  }
  input[type="double"] {
    width: 100%; /* Volledige breedte */
  }
  #ingredienten {
    width: 100%; /* Volledige breedte */
  }
  select {
    width: 100%; /* Volledige breedte */
  }

  table {
    width: 100%; /* Tabel breedte volledig */
    border-collapse: collapse; /* Randen samenvoegen */
    margin: 5px auto; /* Midden van de pagina */
  }

  th,
  td {
    padding: 3px; /* Extra padding */
    border: 2px solid black; /* Zwarte randen */
    text-align: left;
    /* font-size: 1rem; */
    font-size: smaller;
  }

  th {
    background-color: black; /* Zwarte achtergrond */
    color: white; /* Witte tekst */
  }

  td {
    background-color: #f9f9f9; /* Lichte grijze achtergrond */
  }

  .btn1,
  .btn2 {
    text-align: left;
    font-size: small;
    padding: 0;
  }
   
}

h4{
font-size:1.2em ;
  display: inline; 
  margin-right: 10px;
}

.available{
  
  margin-bottom: 2px;
  margin-top: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 2rem;
  color: black; /* Zwarte tekst */
  border: 2px solid green;
  border-radius: 5px;
  background-color: #2fa35b; /* Lichte grijze achtergrond */
  text-align: center;
  margin-top: 0;
}
.delete{
  color: black; /* Rode tekst */
  background-color: red; /* Transparante achtergrond */
  font-weight: bold;
  border: none;
  border-radius: 5px; /* Afgeronde hoeken */
  margin-bottom: 10px;
  width: 60%;
  
}
.update{
  color: black; /* Oranje tekst */
  background-color: orange; /* Transparante achtergrond */
  font-weight: bold;
  border: none;
  border-radius: 5px; /* Afgeronde hoeken */
  width: 60%;
  
}
.delete:hover , .update:hover{
  cursor: pointer;
}