/* CSS for All */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");
* {
   margin: 0 0; 
  /* padding: 0 0; */
  font-family: "Syne", sans-serif;

  /* Header start here -----------------------------------------------------------------------------------------*/
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
  box-sizing: inherit;
  background-color: black;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 50px;
}
.logo {
  width: 80px;
  height: 100%;
}
ul {
  width: 30%;
  text-align: right;
  list-style-type: none;
  line-height: 15px;
  margin-right: 50px;
  font-weight: bold;
  font-size: large;
}

ul li {
  display: inline;
  padding: 2%;
}
ul li a:hover {
  color: #6947ff;
  font-size: large;
}

/* Header ends here -------------------------------------------------------------------------------------------*/

.img-responsive {
  width: 250px;
  height: 250px;
  align-self: center;
}
.img-curve {
  border-radius: 10px;
}
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
/* ------------------------------------------------------------------------------------------------------------ */
/* <!-- fOOD SEARCH Section Starts Here -->-------------------------------------------------------------------- */

.container1 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: black;
}
form {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  
}
.food-search {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7% 0;
  background-image: url("../images/espace-agreable-2.jpg");
}

.food-search input[type="search"] {
  width: 100%;
  height: 50px;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: black;

}
::placeholder {
  color: white;
  text-align: left;
}
/* <!-- fOOD SEARCH Section Ends Here -->---------------------------------------------------------------------- */

/* <!-- Categories Section Starts Here  -->-------------------------------------------------------------------- */
.container2 {
  width: 70%;
  margin: 0 auto;
  height: 35%;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  border-radius: 20px ;
  background-color: black;
}
.categories {
  padding: 0;
  margin-top: 5px;
}

.box-3 {
  width: 15rem;
  margin: 2%;
  text-align: center;
}
/*  <!-- Categories Section Ends Here-------------------------------------------------------------------------- */
a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  margin-left: 10px;
}
.btn-primary:hover {
  color: white;
  background-color: black;
}
h2 {
  color: white;
  font-size: 2rem;
  /* margin-bottom: 2%; */
}
h3 {
  font-size: 1.5rem;
  color: white;
}

/* CSS for Food Menu */
.food-menu {
  /* padding: 0; */
  /* width: 95%; */
  /* padding: 4% 0;  */
  /* margin-top: 10px;
  margin-bottom: 10px;  */
  background-color: transparent;
}
.food-menu-box {
  width: 450px;
  height: 120px;
  background-color: white;
  border: 2px solid white;
  text-align: center;
  border-radius: 20px;
  color: black;
}
h4 {
  color: black;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}
h5 {
  font-size: 1rem;
  color: white;
  text-align: left;
  padding-left: 10px;
  margin-top: 10px;
}
.ingredienten {
  margin-top: 10px;
  padding-left: 20px;

  text-align: left;
}
.container3 {
  width: 70%;
  padding: 1%;

  border: 2px solid white;
  gap: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  color: white;
  background-color: black;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.container4 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: white 2px solid;
}

/* -----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------- */
/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width: 768px) {
  .logo {
    width: 10%;
    margin-left: 10px;
  }
  .img-responsive {
    width: 100%;
    height: 80%;
    align-self: center;
  }

  .container ul {
    width: 50%;
    margin-left: 5px;
    display: flex;
  }

  ul li {
    padding: 2%;
    font-size: medium;
  }
  .food-search input[type="search"] {
    width: 100%;
    padding: 2%;
  }
  ::placeholder {
    color: white;
    text-align: left;
  }
  .container2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 1%;
    display: block;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .btn {
    width: 20%;
    padding: 2%;
  }

  .food-search {
    padding: 10% 0;
  }

  .categories {
    /* width: 10%; */
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 10%;
  }
  .box-3 {
    width: 100%;
    margin: 4% auto;
    background-color: transparent;
  }

  .food-menu {
    padding: 10% 0;
  }

  .food-menu-box {
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
    background-color: white;
  }
  .social {
    padding: 5% 0;
  }
  .order {
    width: 100%;
  }
  .container1 {
    width: 90%;
    margin: auto;
    padding: 1%;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-radius: 20px;
  }
  .container3 {
    width: 90%;
    padding: 1%;
    height: auto;
    border: 2px solid white;
    border-radius: 20px;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
