/* 
    Author: Sami 
    Theme: Restaurant Food Order;
    version: 1.0;
*/

/* CSS for All */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");
* {
  margin: 0 0;
  padding: 0 0;
  font-family: "Syne", sans-serif;

  /* Header start here -----------------------------------------------------------------------------------------*/
}
body {
  height: 100vh;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.logo {
  width: 5%;
  height: 100%;
}
ul {
  width: 30%;
  text-align: right;
  list-style-type: none;
  line-height: 15px;
  margin-right: 50px;
  font-weight: bold;
  font-size: large;
}

ul li {
  display: inline;
  padding: 2%;
}
ul li a:hover {
  color: #6947ff;
  font-size: large;
}

/* Header ends here -------------------------------------------------------------------------------------------*/

.img-responsive {
  width: 100%;
}
.img-curve {
  border-radius: 15px;
}
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
/* ------------------------------------------------------------------------------------------------------------ */
/* <!-- fOOD SEARCH Section Starts Here -->-------------------------------------------------------------------- */

.container1 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: black;
  
}
form {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
}
.food-search {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7% 0;
}

.food-search input[type="search"] {
  width: 100%;
  height: 50px;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: black;
}

/* <!-- fOOD SEARCH Section Ends Here -->---------------------------------------------------------------------- */

/* <!-- Categories Section Starts Here  -->-------------------------------------------------------------------- */
.container2 {
  width: 70%;
  margin: 0 auto;
  height: 35%;
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  border-radius: 20px;
}
.categories {
  padding: 0;
  margin-top: 5px;
}

.box-3 {
  width: 15rem;
  margin: 2%;
  text-align: center;
}
/*  <!-- Categories Section Ends Here-------------------------------------------------------------------------- */
a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color:#2f3542;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  margin-left: 10px;
}
.btn-primary:hover {
  color: white;
  background-color: #2f3542;
}
h2 {
  color: black;
  font-size: 2rem;
  /* margin-bottom: 2%; */
}
h3 {
  font-size: 1.5rem;
  color: black;
}

/* CSS for Food Menu */
.food-menu {
  background-color: black;
  padding: 4% 0;
  color: white;
}
.food-menu-box {
  min-width: 45%;
  height: 120px;
  background-color: rgb(204, 212, 207);
  border: 2px solid white;
  text-align: center;
  border-radius: 20px;

}
.container3 {
  width: 95%;
  padding: 1%;
  height: 300px;
  border: 2px solid white;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 20px;
  flex-wrap: wrap;
}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
}

/* CSS for Social */
.social ul {
  list-style-type: none;
}
.social ul li {
  /* display: inline; */
  padding: 1%;
}

/* for Order Section */
.input-responsive {
  width: 96%;
  padding: 1%;
  margin-bottom: 3%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
/* -----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------- */
/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width: 768px) {
  .logo {
    width: 10%;
    margin-left: 10px;
  }

  .menu ul {
    text-align: center;
    display: inline-block;
  }

  .food-search input[type="search"] {
    width: 80%;
    padding: 2%;
    /* margin-bottom: 3%; */
  }

  .btn {
    width: 20%;
    padding: 2%;
  }

  .food-search {
    padding: 10% 0;
  }

  .categories {
    /* width: 10%; */
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 10%;
  }
  .box-3 {
    width: 100%;
    margin: 4% auto;
  }

  .food-menu {
    padding: 20% 0;
  }

  .food-menu-box {
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
  }
  .social {
    padding: 5% 0;
  }
  .order {
    width: 100%;
  }
  .container1 {
    width: 90%;
    margin: auto;
    padding: 1%;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3542;
    border-radius: 20px;
  }
}
